@using Sandbox;
@using Sandbox.UI;

@using ProjectP.ItemSystem;
@inherits PanelComponent

<root>
	@if (PlayerInventoryController.ItemCapacity == 0) return;
	<div class="panel">
		@for (int i = 0; i < PlayerInventoryController.ItemCapacity; i++)
		{
			<div class="item">
				@if (i < PlayerInventoryController.Items.Count && PlayerInventoryController.Items[i] != null)
				{
					Log.Info("Updated Item!");
					<img src=@PlayerInventoryController.Items[i].Icon class="icon">
					</img>
				}
			</div>
		}
	</div>
</root>

@code
{
	[Property] public InventoryController PlayerInventoryController;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( PlayerInventoryController.Items.Count );
}